# 1) Data Collection
I am starting off with a data set from Harvard that contains 39.6 million tweets related to climate change. The data set is in tweet IDs (numbers) so I need get the tweets for each tweet ID.

Here is the link the data set: https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/5QCCUU

As states in the above link the data is from September 21, 2017 and May 17, 2019 and they had a gap in data collection from January 7, 2019 to April 17, 2019.

To convert each tweet ID into the actual tweet data I am using this: Hydrator [Computer Software]. Retrieved from https://github.com/docnow/hydrator

From the above repo, I downloaded this version of the app: https://github.com/DocNow/hydrator/releases/tag/v0.0.13

The tweets are seperated by file (~ 10 million tweets/file). I made a Twitter account to connect my account this Hydrator. I then uploaded each txt file into Hydrator under "Datasets" in the desktop app. NOTE: because of API rate limits and the shear number of tweets this will take a long time to get all the tweets. I stores them in a jsonl file for each dataset (which they are 4) that you upload. 

TALK ABOUT THEIR METHODOLOGY

In [1]:
import pandas as pd

df = pd.read_csv("./data/tweets10knongeotagged.csv")
df

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_followers_count,user_friends_count,user_listed_count,user_location,user_name,user_screen_name.1,user_statuses_count,user_time_zone,user_urls,user_verified
0,NaN,Mon Jan 22 09:49:35 +0000 2018,NaN,NaN,NaN,0,955376892026093569,Pontifex,9.551606e+17,500704345.0,...,1,4,0,United States,Frank,Frank34802901,100,NaN,NaN,False
1,NaN,Mon Sep 17 04:42:16 +0000 2018,NaN,NaN,https://truthout.org/articles/national-park-of...,0,1041547863795224576,NaN,NaN,NaN,...,2078,2384,98,USA,OurRevolution,LeftysUnite,49582,NaN,NaN,False
2,NaN,Sat Aug 04 13:02:13 +0000 2018,Spain Portugal climatechange globalwarming Hea...,NaN,https://news.sky.com/story/live-scorching-satu...,1,1025728615399469058,NaN,NaN,NaN,...,23,24,1,NaN,Steven Hugh,Steven9Hugh,1393,NaN,https://stevenhugh.wordpress.com/,False
3,NaN,Tue Nov 21 10:17:51 +0000 2017,Resist FakePresident Dontard GOP NRA War Clima...,NaN,https://twitter.com/mattmfm/status/93272970237...,0,932915956824682496,NaN,NaN,NaN,...,6062,6475,120,Jemez New Mexico,Vote Blue,athoughtz,153914,NaN,https://Twitter.com,False
4,NaN,Mon Sep 17 04:42:02 +0000 2018,Health Climate greenbuilding sustainability cl...,https://twitter.com/IndiaGreenBldg/status/1041...,https://buff.ly/2L5RqvK,3,1041547806622797824,NaN,NaN,NaN,...,196,105,31,NaN,IndiaGreenBldg,IndiaGreenBldg,2435,NaN,http://www.rateitgreen.com/green-building-comm...,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7335,NaN,Mon Sep 17 18:33:09 +0000 2018,ClimateChangeScam,NaN,https://twitter.com/drwaheeduddin/status/10415...,2,1041756963212648448,NaN,NaN,NaN,...,5336,5537,14,The Storm,Uriah the MAGA Hittite,Zealandian,23707,NaN,NaN,False
7336,NaN,Sat Aug 04 18:33:23 +0000 2018,NaN,NaN,NaN,1,1025811954357678080,NaN,NaN,NaN,...,186,50,51,Burgess Hill,Eamon Standing,TallismanRogue,35698,NaN,http://www.tallismanrogue.com,False
7337,NaN,Mon Sep 17 18:33:07 +0000 2018,NaN,NaN,https://buff.ly/2QzdS3X https://buff.ly/2QzdS3X,0,1041756953226174465,NaN,NaN,NaN,...,5414,1102,111,Gullah/Geechee Nation,Gullah/Geechee Folks,GullahGeechee,66712,NaN,http://www.gullahgeecheenation.com,False
7338,NaN,Tue Mar 13 20:03:14 +0000 2018,NaN,NaN,https://twitter.com/toby_etc/status/9736268025...,0,973650715066302464,NaN,NaN,NaN,...,4820,1247,147,"Tāmaki Makaurau, Aotearoa",Michael Field,MichaelFieldNZ,48802,NaN,https://www.facebook.com/groups/Pacificnewsroom,False
7339,NaN,Mon Feb 26 13:22:33 +0000 2018,NaN,NaN,https://twitter.com/realdonaldtrump/status/338...,1,968114063078313984,NaN,NaN,NaN,...,52,138,0,ACAB,amy|she/her,amyyjj4,4489,NaN,NaN,False

In [9]:
# I only want to perform sentiment analysis on English tweets to make things easier so drop non-English tweets
df = df[df["lang"] == "en"]
df
# Convert the dates time strings into datetime objects

,coordinates,created_at,hashtags,media,urls,favorite_count,id,in_reply_to_screen_name,in_reply_to_status_id,in_reply_to_user_id,...,user_followers_count,user_friends_count,user_listed_count,user_location,user_name,user_screen_name.1,user_statuses_count,user_time_zone,user_urls,user_verified
3424,NaN,Fri Apr 06 01:19:29 +0000 2018,PriceOnCarbon ClimateSolution UndoYourPart,NaN,https://m.youtube.com/watch?v=BpeXeZ9h9Vg http...,0,982065222818156544,NaN,NaN,NaN,...,370,861,5,NaN,A. Feldman,AFeldman2,24072,NaN,NaN,False
3427,NaN,Fri Apr 06 01:19:45 +0000 2018,StopGeoengineering DestroyingTheIllusion QAnon,NaN,https://www.theguardian.com/global-development...,1,982065290392604672,Jordan_Sather_,NaN,8.356276e+17,...,2808,3668,198,USA,rosannemiller,freedomgirl2011,148493,NaN,NaN,False
3444,NaN,Fri Apr 06 01:21:00 +0000 2018,4Profit Greed God fossilfool,NaN,https://twitter.com/climatemessages/status/981...,0,982065602998095872,NaN,NaN,NaN,...,1308,0,30,Wootton NSW Australia,Linda Gill 💚💙🌏💙💚,earth1stLinda,10955,NaN,NaN,False
3402,NaN,Fri Apr 06 01:21:08 +0000 2018,PHYS273,NaN,https://twitter.com/phys273hamdi/status/981289...,2,982065638339432448,NaN,NaN,NaN,...,23,6,0,NaN,Mr. Joules,dominicpaolucc1,195,NaN,NaN,False
3366,NaN,Fri Apr 06 01:21:11 +0000 2018,NaN,NaN,NaN,1,982065648196112384,IngrahamAngle,9.818904e+17,5.076918e+07,...,725,973,22,Florida,Waterdancer411,jhb430,34852,NaN,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3149,NaN,Wed Sep 12 01:56:13 +0000 2018,NaN,NaN,NaN,0,1039694137463894016,KamalaHarris,1.039689e+18,3.035499e+07,...,353,550,1,over the rainbow,lilykins,lilykins50,29622,NaN,NaN,False
3265,NaN,Wed Sep 12 01:56:19 +0000 2018,NaN,NaN,https://youtu.be/9Vqlq3wsWrI,0,1039694162793132032,NaN,NaN,NaN,...,1732,1394,35,Ontario & Ripon N Yorkshire,Doctor Britain,worldnoteurope,60101,NaN,NaN,False
3274,NaN,Wed Sep 12 01:56:34 +0000 2018,GlobalWarming,NaN,https://www.washingtonpost.com/energy-environm...,0,1039694224474746880,NaN,NaN,NaN,...,283,1574,2,"Massachusetts, USA",Mutator,gamzyba,7377,NaN,NaN,False
3239,NaN,Wed Sep 12 01:57:18 +0000 2018,NaN,NaN,https://www.livemint.com/Politics/0ZS5n0x0EsIW...,56,1039694407690317824,NaN,NaN,NaN,...,7778,2394,70,"New Delhi, India",Sayantan Bera,sayantanbera,5848,NaN,http://www.livemint.com/Search/Link/Author/Say...,True
3259,NaN,Wed Sep 12 01:57:18 +0000 2018,NowakScience,NaN,https://twitter.com/nytimes/status/10354823743...,1,1039694409812635648,NaN,NaN,NaN,...,385,539,18,"Independence, MO",Dave Nowak,dnowak77,2080,NaN,http://dnowak77.blogspot.com,False